.wrapper {
    // max-width: 1440px;
    min-height: 90px;
    margin: 0 auto;
    // background-color: $heading-color;

}
// .container {
//     max-width: 1200px;
//     margin: 0 auto;
//     padding: 0 15px;
// }
body {
    font-size: 14px;
    font-family: $font;
    line-height: 1;
    color: $text-color;
}
